/*style*/
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url('images/2738.jpg')
}
.container{
    width: 830px;
    margin: auto;
    background-color: #298069;
}
.header{
    padding: 1px;
    color: black;
    font-size: 20px;
}
h2 .judul{
    font-size: 20px;
    font-weight: bold;
    background-color: black;
}
.header ul li{
    display: inline-block;
    margin-right: 45px;
    margin-left: -38px;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.header a:hover{
    background-color: #c23616;
    color: white;
}
.gambar{
    height: 250px;
    background-image: url('images/275.jpg');
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px solid black;
}
.hero{
    color: white;
/* width: 760px;
   height: 130px;
   color: white;
   padding-right: 30px
   padding-left: 10px;*/
}
.judulhero{
    color: white;
    padding-right: 30px;
    padding-left: 10px;
}
.subscribe{
    width: 500px;
    height: 90px;
    color: white;
    padding-right: 30px;
    padding-left: 10px;
}
.hero .button_1{
    height: 35px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}
.main{
    padding: 15px;
    background: 15px;
    color: #fff;
    margin: 10px 0 10px 0;
}
.main .judul{
    margin-top: -30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.drak{
    padding: 15px;
    background-color: #2980b9;
    color: #fff;
    margin: 10px 0px 0;
}
.drak .tema{
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.footber {
    background-color: #c23616;
    padding: 7px;
}
.footber .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 13px;
}